$light: #d8dbe0;
$dark: #28292c;
$link: rgb(27, 129, 112);
$link-hover: rgb(24, 94, 82);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e9d6f3;
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5% 0;
}

.name {
  padding-left: 10%;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 10%;
  position: relative;

  .social {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin-right: 15px;
    }
  }
}

.dl-toggle {
  label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 17px;
  }

  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      transform: translateX(26px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
}